.menuCards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 80px 120px;
  background: linear-gradient(135deg, #f4f3fc8e, #f1f1f19d);

  height: 800px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 120px;
}

.menuCards h1 {
  margin-top: 90px;
  font-size: 60px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}


.menuCards>p {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.containerCards {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  padding-bottom: 20px;
}


.card {
  min-width: 250px;
  max-width: 280px;
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.card:hover {
  background-color: #ffffff;
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}


.card h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}


.card p {
  font-size: 15px;
  line-height: 1.5;
  color: #444;
  font-family: "Poppins", sans-serif;
}

.meusCardsContainer {
  position: absolute;
  width: 50%;
  min-width: 600px;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: 40px auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 60px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -48%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.voltarCards {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
  padding: 10px;
  font-size: 22px;
  border-radius: 50%;
  transition: 0.2s ease;
}

.voltarCards:hover {
  background: #eaeaea;
}

.tituloModal>h1 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
  color: #333;
  font-weight: 700;
}

.topicosModal>h3 {
  padding: 15px 0px;
  font-size: 24px;
  color: #444;
}

.topicosModal ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 20px;
}

.topicosModal ul li {
  font-size: 20px;
  padding: 10px 15px;
  background: #ffffffcc;
  border-radius: 10px;
  border-left: 4px solid #7A6DE9;
  transition: 0.2s;
}

.topicosModal ul li:hover {
  background: #f5f3ff;
  transform: translateX(4px);
}


.Inicio {
  display: flex;
  align-items: center;
  gap: 12px;
}

.imagemSaude {
  margin-top: 87px;
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}