/*Hero Home Inicio*/
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

.homeInicio{
  height: 100dvh;
  background-image: url(../../assets/imagens/homeInicio1.png);
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

.textoHome{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin:300px 200px 20px 200px;
}
 
 .textoHome > h1{
  font-family: "Kavoon", serif;
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-bottom: 20px;
} 

.textoHome > span{
  font-size: 30px;
  font-family: sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
}

.btoAjuda{
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 5px 35px;
  background-color: #da2727;
  color: aliceblue;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btoAjuda:hover{
  transform: translateY(-4px) scale(1.02);
  box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.384);
  font-weight: normal;
  color: aliceblue;
}