/*Hero Home Inicio*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.homeInicio {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(135deg,
      #d4d3e327,
      #a9dbec21,
      #f2c49f3b);
}

.textoHome {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 300px 200px 20px 200px;
}

.textoHome>h1 {
  font-family: "Bangers", system-ui;
  display: flex;
  justify-content: center;
  font-size: 60px;
}

.textoHome>span {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  width: 700px;
}

.btoAjuda {
  font-size: 25px;
  font-family: "Bangers", system-ui;
  height: 70px;
  padding: 10px 20px;
  background-color: #da2727;
  color: aliceblue;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btoAjuda:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.384);
  font-weight: normal;
  color: aliceblue;
  background-color: #e62d2d;
}

.Imagem {
  position: absolute;
  width: 750px;
  height: 750px;
  top: 160px;
  right: 90px;
  z-index: 2;
}