.rodapeHome2{
    height: 20dvh;
    display: flex;
    justify-content: space-evenly;
    background-image: url(../../assets/imagens/rodapeHome2.png);
    background-size: cover;
}


.infoRodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.politicaPrivacidade, .lar{
    color: gray;
}

.politicaPrivacidade{
    cursor: pointer;
    text-decoration: none;
}

.politicaPrivacidade:hover{
    text-decoration: underline;
}

.redesSociais{
 & img{ width: 50px;
        height: 50px;
        padding: 5px;
    }
}
.criadoLar{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.redesRodape{
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



