.sos {
  position: fixed;
  right: 20px;
  top: 90%;
  background-color: #D7262D;
  color: #fff;
  font-weight: bold;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  transition: 0.2s ease;
  text-decoration: none;
  display: flex;              
  align-items: center;       
  justify-content: center;   
}

.sos:hover {
  background-color: #bb1f25;
  transform: translateY(-50%) scale(1.05);
}

.p {
  margin-top: 13px;
  font-size:18px;
  text-align: center;
}