.titulo {
    font-size: 48px;
    font-weight: 700;
    color: #000;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-top: 50px;
}

.sub {
    margin-left: 100px;
    color: #666;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.card {
    width: 337px;
    background: #d3d2e28f;
    height: 252px;
    padding: 10px 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
    text-align: left;
    position: relative;
    text-decoration: none;
    color: black;
}

.circle {
    width: 95px;
    height: 95px;
    background: #C4C2D5;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 0px;
    overflow: hidden;
}

.circle img {
    margin-top: 13px;
    margin-left: 13px;
    width: 70px;
    height: 70px;

}

.card h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.card p {
    font-size: 14px;
    line-height: 1.4;
    color: #3d3c3c;
}

.card:hover {
    box-shadow: 0 4px 10px #9997d1fa;
    border: 2px solid #7f7da7fa;
}