/* CABEÇALHO */
.cabecalho {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfeff;
  padding: 10px 50px;
  border-radius: 0px 0px 20px 20px; 
  height: 100px;
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.233);
  
}

.Logo {
  cursor: pointer;
  border: none;
}

.nomeLogo {
  color: #A2A1BC;
  position: absolute;
  left: 150px;
  top: 25px;
  /* font-weight: bo; */

}

.cabecalho > h1 {
  font-weight: bold;
  font-size: 35px;
}

.cabecalho > h5 {
  color: #A2A1BC;
  position: absolute;
  left: 152px;
  top: 66px;
  font-weight: bold;
  font-size: 15px;
}

.navContainer {
    display: flex;
    gap: 0;
    align-items: center;
}
  

.bto {
  background: transparent;
  padding: 10px 30px;
  margin: 0; 
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  border: none;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Linha preta em baixo */
.bto::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px; 
    bottom: 0; 
    left: 0;
    background-color: black;
    
    /* Animação da linha*/
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.bto:hover::after {
    transform: scaleX(1);
}


.active::after {
    transform: scaleX(1);
}


.bto:hover, .active {
  color: rgb(0, 1, 12);
  text-shadow: 0px 0px 1px black;
}

.rosto{
  justify-content: end;
  background: #da2727;
  color: white;
  font-weight: bold;
  border: red 1px solid;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  text-decoration: none;
}




.dropdownContainer {
    position: relative; 
    display: inline-block;
    height: 100%;
}


.dropdownMenu {
    display: none;
    position: absolute; 
    background-color: #FDFBF7;
    min-width: 220px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 10; 
    padding: 10px 0;
    border-radius: 0 0 8px 8px; 
    top: 100%;
    left: 0;
}

.dropdownContainer:hover .dropdownMenu {
    display: block;
}


.dropdownItem {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: left;
    border-left: 3px solid transparent;
    transition: all 0.2s;
}


.dropdownItem:hover {
    background-color: #f0eadd;
    border-left: 3px solid #000;
    font-weight: bold;
}

.dropdownContainer > .bto {
    padding-right: 45px; 
    margin-right: 5px;
}


/* Seta do menu */
.dropdownContainer > .bto::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid currentColor;
    transform: translateY(-50%); 
    transition: transform 0.3s ease;
}


.dropdownContainer:hover > .bto::before {
    transform: translateY(-50%) rotate(180deg);
}


