.infoSection {
    text-align: center;
    padding: 60px 20px;
    background-color: #f6e2d065;
    height: 1000px;
}

.infoSection h2 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 100px;
}

.sub {
    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
    max-width: 420px;
    margin-top: 30px;
    margin: 0 auto 20px auto;
}

.seta {
    font-size: 70px;
    margin-bottom: 35px;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 478px;
    background: white;
    height: 300px;
    padding: 10px 25px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
    text-align: left;
    position: relative;
    text-decoration: none;
    color: black;
}

.circle {
    width: 95px;
    height: 95px;
    background: #F4DCC5;
    border-radius: 50%;
    display: inline-block;
    margin-top: 10px;
    margin-left: 0px;
    overflow: hidden;
}

.circle img {
    margin-top: 13px;
    margin-left: 13px;
    width: 70px;
    height: 70px;

}

.card h3 {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 8px;
}

.card p {
    font-size: 14px;
    line-height: 1.4;
}

.card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid #e6b07d;
}