

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px; 
  padding: 60px 0;
  flex-wrap: wrap; 
}

.imagem {
width: 548px;
height: 548px;

}

.Conteudo {
  width: 500px;
  max-width: 90%;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form {
  max-width: 700px;
  margin-bottom: 0;
}

.linhaInputs {
  display: flex;
  gap: 32px;
  margin-bottom: 18px;
}

.linhaInputs > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.formAjuda label {
  font-weight: 600;
  margin-bottom: 6px;
}

.form input[type="text"],
.form input[type="email"] {
  padding: 12px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  background: #fafbfc;
  font-size: 16px;
  margin-bottom: 8px;
}

label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.botaoEnviar {
  background-color: #D3D2E2;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 10px 18px;
  border: none;
  clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
  cursor: pointer;
  transition: 0.3s;
  display: block;
  margin-left: auto;
}

.botaoEnviar:hover {
  background-color: #5848d3;
  color: white;
}

