.body{
    background-color: #eeeef741;
}

.divFormGeral {
    display: flex;
    gap: 35px;
    padding: 30px;
    justify-content: center;
    align-items: flex-start;
}


.divLateral {
    width: 280px;
}

.divLateral h1 {
    display: none;
}

.sidebar {
    background-color: #d5c7e607;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border: solid 1px #D5C7E6;
    width: 300px;
    height: 550px;
}

.sidebar h2 {
    font-size: 22px;
    margin-bottom: 16px;
}

.alertInfo,
.alertEmergency {
    padding: 14px;
    border-radius: 10px;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.4;
}

.alertInfo {
    background: #e8f1ff;
    border-left: 4px solid #70a4ff;
    color: #355a85;
}

.alertEmergency {
    background: #f8abab3d;
    border-left: 4px solid #ff0000;
    color: #FF0000;
}


.divConteudo {
    background-color: #d5c7e607;
    border: solid 1px #D5C7E6;
    padding: 30px;
    border-radius: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    position: relative;
}


.formAjuda {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.linhaInputs {
    display: flex;
    gap: 20px;
}

.linhaInputs div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #3a4750;
    margin-bottom: 6px;
    font-weight: 600;
}

input, select {
    padding: 8px;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #ddd;
    outline: none;
    width: 100%;
}

input:focus, select:focus {
    border-color: #8ab9ff;
}


.checkboxGrupo {
    margin-top: 20px;
}

.checkboxColunas {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.checkboxColunas>div {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 160px;
    flex: 1 1 0;

}


.checkboxColunas label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}


.checkboxColunas input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.botaoEnviar {
    padding: 12px 25px;
    background: #d3cee8;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    width: 160px;
}

.botaoEnviar:hover {
    background: #c2bce5;
}
