/* Tela de Tipos de Abuso*/


.tiposAbusos{
  height: 110dvh;
  background-color: #F1C5A1;
  display: flex;
  justify-content: space-evenly;
  
}

.containerAbs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  
  & span {
      font-size: 60px;
      font-weight: bold;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  & p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: lighter;
  }
}

.containerBtoAbs{
  padding-top: 50px;
}

.btoSaibaMaisAbs{
  display: flex;
  background: #FE7200;
  color: white;
  font-weight: bold;
  border: #FE7200 1px solid;
  border-radius: 50px;
  padding: 30px 80px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.btoSaibaMaisAbs:hover{
  transform: translateY(-4px) scale(1.02);
  box-shadow: 8px 16px 32px rgba(0,0,0,0.12);
}

.topicoBto{
  display: flex;
  background: #FE7200;
  color: white;
  font-weight: bold;
  border: #FE7200 1px solid;
  border-radius: 50px;
  height: 50px;
  width: 500px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.topicoBto:hover{
  transform: translateY(-4px) scale(1.02);
  box-shadow: 8px 16px 32px rgba(0,0,0,0.12);
}



.containerTopicosAbs{
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

