.cabecalhoHome {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfeff;
  padding: 10px 50px;
  border-radius: 0px 0px 20px 20px;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 50;
  border-bottom: 1px solid #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
}

.logoCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(135deg, #A9DBEC 0%, #D4D3E3 100%);
}

.logoText {
  font-size: 20px;
  font-weight: bold;
  color: #2c3e50;
}

.logoFullText {
  font-size: 18px;
  font-weight: 600;
  color: #2c3e50;
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bto {
  background: transparent;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  border: none;
  font-family: inherit;
  color: #4a5568;
  text-decoration: none;
}

.bto:hover {
  color: #39366b;
  font-weight: bold;
}

.btoSOS {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #da2727;
  color: white;
  font-weight: bold;
  border: 1px solid red;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.btoSOS:hover {
  transform: translateY(-4px) scale(1.02);
  box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.384);
  color: aliceblue;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
  
  .logoFullText {
    display: none;
  }
  
  .cabecalhoHome {
    padding: 10px 20px;
  }
}
